title: Subramanya N
email: snagabhushan@umass.edu
description: Welcome to my personal website, a space where I blog and share my musings on academic and professional topics. Dive in to explore my intellectual journey and gain insights from my experiences in various fields!
baseurl: ""
url: "https://subramanya.ai"
data_dir: _data

# Build settings
markdown: kramdown
permalink: pretty

highlighter: rouge
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge