{
  "openapi": "3.1.0",
  "info": {
    "title": "subramanya.ai Content API",
    "version": "1.0.0",
    "summary": "Read-only content API for Subramanya N's personal site",
    "description": "Machine-readable, read-only API surface of subramanya.ai, the personal site of Subramanya N (AI agents, agent security, SaaS strategy). All endpoints are static files served by GitHub Pages over anonymous HTTPS GET - no authentication, no API key, no rate-limit registration required. There are no write operations. Every HTML page also has a parallel markdown twin at `<page-url>index.md` (see the getPageMarkdown operation).\n\n## Versioning and deprecation\n\nStructured JSON resources live under the URL-path-versioned prefix `/api/v1/`. The v1 surface is additive-only: fields may be added, but existing fields, paths, and semantics will not change or disappear within v1. Any breaking change would ship as a new `/api/v2/` prefix while `/api/v1/` keeps working for at least 6 months; a deprecation is announced in this spec, in /llms.txt, and in the site changelog before a retired path starts returning 404/410. Root-level discovery files (/llms.txt, /search.json, /sitemap.xml, /feed.xml, /openapi.json) follow their respective public standards and are likewise stable.\n\n## Rate limits and errors\n\nThere are no per-client rate limits and no RateLimit response headers - content is served by the Fastly CDN; please cache respectfully (responses carry Cache-Control and ETag headers). Because the host is a static CDN, error responses for unknown paths return HTTP 404 with an HTML body that links back to /llms.txt, /sitemap.xml, and /search.json for recovery; JSON error bodies and Accept-header content negotiation are not available.",
    "contact": {
      "name": "Subramanya N",
      "url": "https://subramanya.ai/contact/",
      "email": "subramanyanagabhushan@gmail.com"
    },
    "license": {
      "name": "All rights reserved (content); see site for reuse policy",
      "identifier": "LicenseRef-Site-Content"
    }
  },
  "servers": [
    {
      "url": "https://subramanya.ai",
      "description": "Production (GitHub Pages via Fastly CDN)"
    }
  ],
  "tags": [
    { "name": "discovery", "description": "Endpoints that help agents discover what exists on the site" },
    { "name": "content", "description": "Endpoints that return site content" }
  ],
  "paths": {
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApiSpec",
        "tags": ["discovery"],
        "summary": "This OpenAPI specification",
        "description": "Returns this OpenAPI 3.1 document describing the site's read-only content API.",
        "responses": {
          "200": {
            "description": "The OpenAPI document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "OpenAPI 3.1 document",
                  "required": ["openapi", "info", "paths"],
                  "properties": {
                    "openapi": { "type": "string", "description": "OpenAPI version, 3.1.x" },
                    "info": { "type": "object", "description": "API metadata" },
                    "servers": { "type": "array", "items": { "type": "object" } },
                    "paths": { "type": "object", "description": "Available operations keyed by path" },
                    "components": { "type": "object", "description": "Shared schemas and responses" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/posts.json": {
      "get": {
        "operationId": "listPosts",
        "tags": ["content"],
        "summary": "List all blog posts (v1, typed JSON)",
        "description": "Returns every blog post as a typed JSON object: title, canonical HTML URL, markdown twin URL, ISO date, excerpt, and tags. Newest first. Part of the additive-only /api/v1/ versioned surface; see the versioning policy in the spec description.",
        "responses": {
          "200": {
            "description": "The full list of blog posts.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PostList" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/v1/books.json": {
      "get": {
        "operationId": "listBooks",
        "tags": ["content"],
        "summary": "List all book notes (v1, typed JSON)",
        "description": "Returns every book note as a typed JSON object: title, canonical HTML URL, markdown twin URL, ISO date, excerpt, and tags. Part of the additive-only /api/v1/ versioned surface; see the versioning policy in the spec description.",
        "responses": {
          "200": {
            "description": "The full list of book notes.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BookList" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/search.json": {
      "get": {
        "operationId": "searchContent",
        "tags": ["discovery", "content"],
        "summary": "Full-text search index of posts, books, and loops",
        "description": "Returns the complete search index as a JSON array (~0.5 MB). Each item is a blog post, book note, or automation-loop prompt with title, URL, plain-text content, tags, view count, and reading time. Agents should fetch this once and filter client-side; there is no server-side query parameter. For a lighter, typed list without full content, use listPosts or listBooks.",
        "responses": {
          "200": {
            "description": "The full search index.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SearchItem" }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsTxt",
        "tags": ["discovery"],
        "summary": "llms.txt site summary",
        "description": "Returns the llmstxt.org-format summary of the site: what it is, when an agent should use it, and links to every page's markdown twin.",
        "responses": {
          "200": {
            "description": "Markdown-formatted site summary.",
            "content": {
              "text/plain": { "schema": { "type": "string" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "operationId": "getLlmsFullTxt",
        "tags": ["content"],
        "summary": "Full site content for LLM ingestion",
        "description": "Returns the full text of every blog post in one markdown document, including FAQ question/answer pairs where present. Large response; prefer /search.json plus per-page markdown twins for targeted reads.",
        "responses": {
          "200": {
            "description": "Full site content as markdown.",
            "content": {
              "text/plain": { "schema": { "type": "string" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/feed.xml": {
      "get": {
        "operationId": "getBlogFeed",
        "tags": ["content"],
        "summary": "Blog RSS 2.0 feed",
        "description": "Returns the most recent blog posts as an RSS 2.0 feed.",
        "responses": {
          "200": {
            "description": "RSS 2.0 XML document.",
            "content": {
              "application/rss+xml": { "schema": { "type": "string", "description": "RSS 2.0 XML" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "operationId": "getSitemap",
        "tags": ["discovery"],
        "summary": "Sitemaps 0.9 sitemap",
        "description": "Returns the canonical URL list for the site in Sitemaps 0.9 XML format. Use this to enumerate every crawlable page.",
        "responses": {
          "200": {
            "description": "Sitemap XML document.",
            "content": {
              "application/xml": { "schema": { "type": "string", "description": "Sitemaps 0.9 XML" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "operationId": "getApiCatalog",
        "tags": ["discovery"],
        "summary": "RFC 9727 api-catalog linkset",
        "description": "Returns an RFC 9727 / RFC 9264 linkset cataloguing every machine-readable endpoint on the site, including this OpenAPI document.",
        "responses": {
          "200": {
            "description": "Linkset JSON document.",
            "content": {
              "application/linkset+json": {
                "schema": {
                  "type": "object",
                  "required": ["linkset"],
                  "properties": {
                    "linkset": {
                      "type": "array",
                      "items": { "type": "object", "description": "RFC 9264 link context object" }
                    }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/{pagePath}/index.md": {
      "get": {
        "operationId": "getPageMarkdown",
        "tags": ["content"],
        "summary": "Markdown twin of any HTML page",
        "description": "Every HTML page on the site has a parallel markdown representation at `<page-url>index.md`, served as `text/markdown; charset=utf-8`. For example, the markdown twin of https://subramanya.ai/work/ is https://subramanya.ai/work/index.md. The site homepage's twin is /index.md. Page URLs are enumerated in /sitemap.xml and /llms.txt; each HTML page also advertises its twin via `<link rel=\"alternate\" type=\"text/markdown\">`.",
        "parameters": [
          {
            "name": "pagePath",
            "in": "path",
            "required": true,
            "description": "The page's URL path without leading or trailing slash, e.g. `work`, `blog`, or `2026/08/17/break-in-break-out-ai-agent-security`.",
            "schema": { "type": "string", "pattern": "^[A-Za-z0-9/_-]+$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown representation of the page.",
            "content": {
              "text/markdown": { "schema": { "type": "string" } }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "responses": {
      "NotFound": {
        "description": "The path does not exist. The static host (GitHub Pages) returns a real HTTP 404 status with an HTML body; the body links to /llms.txt, /sitemap.xml, /search.json, and /.well-known/api-catalog so agents can recover. JSON error bodies are not available on this static host.",
        "content": {
          "text/html": {
            "schema": { "type": "string", "description": "HTML 404 page with recovery links for agents" }
          }
        }
      }
    },
    "schemas": {
      "ContentItem": {
        "type": "object",
        "description": "A blog post or book note in the versioned v1 API.",
        "required": ["title", "url", "markdown_url", "date"],
        "properties": {
          "title": { "type": "string", "description": "Title of the post or book note." },
          "url": { "type": "string", "format": "uri", "description": "Canonical absolute URL of the HTML page." },
          "markdown_url": { "type": "string", "format": "uri", "description": "Absolute URL of the page's markdown twin (text/markdown)." },
          "date": { "type": "string", "format": "date", "description": "Publication date, YYYY-MM-DD." },
          "excerpt": { "type": "string", "description": "Plain-text excerpt." },
          "tags": { "type": "array", "items": { "type": "string" }, "description": "Topic tags." }
        }
      },
      "PostList": {
        "type": "object",
        "description": "Envelope for the blog post list.",
        "required": ["api_version", "kind", "count", "posts"],
        "properties": {
          "api_version": { "type": "string", "const": "v1", "description": "API version of this response." },
          "kind": { "type": "string", "const": "post_list" },
          "generated_from": { "type": "string", "format": "uri", "description": "URL of the OpenAPI spec describing this endpoint." },
          "count": { "type": "integer", "minimum": 0, "description": "Number of posts in the list." },
          "posts": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContentItem" },
            "description": "All blog posts, newest first."
          }
        }
      },
      "BookList": {
        "type": "object",
        "description": "Envelope for the book note list.",
        "required": ["api_version", "kind", "count", "books"],
        "properties": {
          "api_version": { "type": "string", "const": "v1", "description": "API version of this response." },
          "kind": { "type": "string", "const": "book_list" },
          "generated_from": { "type": "string", "format": "uri", "description": "URL of the OpenAPI spec describing this endpoint." },
          "count": { "type": "integer", "minimum": 0, "description": "Number of book notes in the list." },
          "books": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ContentItem" },
            "description": "All book notes."
          }
        }
      },
      "SearchItem": {
        "type": "object",
        "description": "One entry in the site search index: a blog post, a book note, or an automation-loop prompt.",
        "required": ["kind", "title", "url"],
        "properties": {
          "kind": {
            "type": "string",
            "enum": ["post", "book", "loop"],
            "description": "Whether this entry is a blog post, a book note, or an automation loop from /awesome-loops/."
          },
          "title": { "type": "string", "description": "Title of the entry." },
          "url": { "type": "string", "description": "Site-relative URL of the HTML page. Append `index.md` for the markdown twin." },
          "date_display": { "type": ["string", "null"], "description": "Human-readable publication date, e.g. 'August 17, 2026'. Null for undated entries such as loops." },
          "date_iso": { "type": ["string", "null"], "description": "Publication date in YYYY-MM-DD format, or null for undated entries." },
          "excerpt": { "type": "string", "description": "Plain-text excerpt." },
          "content": { "type": "string", "description": "Full plain-text content, HTML stripped." },
          "views": { "type": ["integer", "null"], "description": "Page views from site analytics; null when analytics are unavailable for the entry." },
          "reading_minutes": { "type": ["integer", "null"], "minimum": 1, "description": "Estimated reading time in minutes at 200 wpm; null for entries without it." },
          "tags": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SearchTag" },
            "description": "Topic tags. Tag archive pages live at /tags/."
          }
        }
      },
      "SearchTag": {
        "type": "object",
        "description": "A topic tag on a search item.",
        "required": ["name", "slug"],
        "properties": {
          "name": { "type": "string", "description": "Display name of the tag, e.g. 'AI Agents'." },
          "slug": { "type": "string", "description": "URL slug of the tag; the archive page is /tags/#<slug>." }
        }
      }
    }
  }
}
